html { 
    font-family: Helvetica; 
    display: inline-block; 
    margin: 0px auto; 
    text-align: center;
}

.button {
	border: none; color: white; 
	padding: 20px 22px;
	text-decoration: none; font-size: 24px; margin: 2px; 
	cursor: pointer; 
	width: 70px;
	border-radius: 8px;}

.outer {
    width:100%; 
    text-align: center; 
}

.inner {
    display: inline-block; 
}

.button.r1 {
    background-color: #66e3e3; 
}

.button.r2 {
    background-color: white; 
    color: #b9b9b9; 
    border: 2px solid #66e3e3b2;
}

.button.r3 {
    background-color: #66e3e3; 
    transform: rotate(180deg);
}

.button.cal {
  background-color: #eee9a0; 
}

.button.lg
{
    background-color: #b9b9b9; 
    width: 200px;
}

input.largerCheckbox {
    width: 40px;
    height: 40px;
}

.slider {
  height: 105px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 100px;
  border: 0;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 100px;
  background: #472701;
  border: 0;
  cursor: pointer;
}
